<ion-content>


  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button class="bnt-options">
      <ion-icon name="menu-outline" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="container">
    <capacitor-google-map #map></capacitor-google-map>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="btn-add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <swiper [slidesPerView]="2">
    <ng-template swiperSlide>
      <app-todo-card></app-todo-card>
    </ng-template>
    <ng-template swiperSlide>
      <app-todo-card></app-todo-card>
    </ng-template>
    <ng-template swiperSlide>
      <app-todo-card></app-todo-card>
    </ng-template>
  </swiper>

</ion-content>